body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
}
.app {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 15px;
}
 header{
    border-bottom: 1px solid azure;
    padding: 0 0 30px 0;
 }

 .search-form-input {
    background-color: azure;
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 15px 20px;
    font-size: 16px;
}
.search-form-button {
    background: #AAE6DA;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    font-size: 16px;
}
footer{
    border-top: 1px solid azure;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}
a{
    color: #AAE6DA;
}
.data{
    display: flex;
    justify-content: space-between;
}
main{
    padding: 30px 0;
}

.city{
    margin: 0;
    font-size: 35px;
    line-height: 45px;
}

.details{
    font-size: 16px;
    line-height: 20px;
    color: rgba(39, 33, 66, 0.4);
}

.details strong{
    color: palevioletred;
}

.tempcontainer{
    display: flex;
}

.value{
    font-size: 80px;
    font-weight: bold;
    margin-left: 10px;
}

.icon{
    font-size: 40px;
    margin-top: 20px;
}

.unit{
    margin-top: 10px;
    font-size: 25px;
}